* {
  margin: 0;
  padding: 0;
}
.fundo {
  padding-top: 50px;
  background-image: linear-gradient(45deg, black, pink);
  height: 100vh;
  color: #e57d90;
  font-family: "ubuntu";
  font-size: 12px;
  text-align: center;
}
.calculadora {
  position: absolute;
  background-color: rgba(0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 18px;
}
h1 {
  margin-bottom: 15px;
}
.span {
  font-size: 25px;
  font-family: "ubuntu";
}
.botao {
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  border-radius: 20px;
  color: #e57d90;
  margin: 3px;
  margin-top: 5px;
}
.botao:hover {
  background-color: #000;
}
#resultado {
  width: 207px;
  height: 20px;
  margin: 5px;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 24px;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  text-align: right;
}
